# <font color = 'plum'> Imports, MySQL connection

In [12]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=2.0)
sns.set_palette("magma")
import pylab
pylab.rcParams['figure.figsize'] = (20, 20)
plt.style.use('dark_background')

import os
db_user = os.environ.get('DB_USER')
db_pw = os.environ.get('DB_PASSWORD')


import mysql.connector


connection = mysql.connector.connect(host="localhost", user=db_user,passwd=db_pw,database="imdb")

connection

# <font color = 'fggd'> Data Fetching, Manipulation

In [13]:
#find tconst for tv title, e.g. "Game of Thrones"
# default is "Game of Thrones"
# user1="Game of Thrones"
user1="SELECT * FROM title_basics WHERE primaryTitle LIKE '"+input("What Title? ")+"' and titleType = 'tvSeries';"
tconst = pd.read_sql_query(user1,connection)

What Title? the handmaid's tale

DatabaseError: Execution failed on sql 'SELECT * FROM title_basics WHERE primaryTitle LIKE 'the handmaid's tale' and titleType = 'tvSeries';': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 's tale' and titleType = 'tvSeries'' at line 1

In [ ]:
# Confirm tv_series id fetched by SQL
series_id=tconst['tconst'][0]
series_id

In [ ]:
q1="SELECT a.tconst, parentTconst, seasonNumber, episodeNumber, startYear,averageRating ,numVotes,primaryTitle, runtimeMinutes FROM title_episode a JOIN title_ratings b ON a.tconst = b.tconst JOIN title_basics c ON a.tconst = c.tconst WHERE parentTconst = '"+series_id+"'" 
q2 = "SELECT a.tconst,a.primaryTitle, b.averageRating, b.numVotes FROM title_basics a JOIN title_ratings b ON a.tconst = b.tconst WHERE a.tconst = '"+series_id+"';"

In [ ]:
show = pd.read_sql_query(q1,connection)

show.fillna(0,inplace=True)

In [ ]:
show2 = pd.read_sql_query(q2,connection)
show2

In [ ]:
title = show2['primaryTitle'][0]

In [ ]:
show['runtimeMinutes']=show['runtimeMinutes'].astype('int')
show['startYear']=show['startYear'].astype('int64')

In [ ]:
df = show.copy()

df1=df[['seasonNumber', 'episodeNumber','averageRating']].copy()

p1=df1.pivot('episodeNumber','seasonNumber')
# p1

# <font color = 'hotpink'> Ratings per Episode

In [ ]:
# fig = plt.figure(figsize=(25,25))

ax=sns.heatmap(p1,cmap='jet_r',linewidths=0.25,annot=True,linecolor='hotpink')

ax.set_title(f"{title} IMDb score [1-10] scale \n",color='#b00149',size=55)
ax.set_xlabel('Season',size=35,color='lime')
ax.set_ylabel('Episode',size=35,color='lime')
ax.invert_yaxis()
xticks = list(range(1,len(p1.columns)+1,1))
plt.xticks(np.arange(len(xticks))+0.5,xticks,rotation=0,color='darkorange',size=25)
plt.yticks(color='darkorange',size=25)

# plt.savefig(f'{title} 714.png',dpi=255)

# <font color = 'magenta'> Votes

In [ ]:
# fig = plt.figure(figsize=(25,25))

df2 = show.copy()

df2=df2[['seasonNumber', 'episodeNumber','numVotes']].copy()

p2=df2.pivot('episodeNumber','seasonNumber')
p2


ax=sns.heatmap(p2,cmap='jet',linewidths=0.25,annot=True,fmt='g', linecolor='slateblue')

ax.set_title(f"{title} IMDb User Votes \n",color='hotpink',size=55)
ax.set_xlabel('Season',size=35,color='lime')
ax.set_ylabel('Episode',size=35,color='lime')
ax.invert_yaxis()
xticks = list(range(1,len(p1.columns)+1,1))
plt.xticks(np.arange(len(xticks))+0.5,xticks,rotation=0,color='darkorange',size=25)
plt.yticks(color='darkorange',size=25)

# plt.savefig(f'{title}999.png',dpi=255)